name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: kerem-apaydin
          template: classic
          
          base: ""
          config_timezone: Europe/Istanbul
          
          
          plugin_languages: yes
          plugin_languages_ignored: >-
            html, css, tex, less, dockerfile, makefile, qmake, lex, cmake, shell,
            gnuplot
          plugin_languages_limit: 8

          plugin_languages_sections: most-used
          plugin_languages_colors: github
          plugin_languages_threshold: 0%
       
          plugin_languages_details: bytes-size, percentage

      
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year

          extras_css: |
            .field { display: flex; justify-content: center; }